<nav class="navbar navbar-toggleable-md navbar-light bg-faded pb-0">

  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to 'LL', root_path, class: 'navbar-brand py-0' %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'log out', logout_path, :method => :delete, class: 'nav-link' %>
        <% else %>
          <%= link_to 'log in', login_path, class: 'nav-link' %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to 'cart', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'news', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'contact', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'search', root_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
